body, html
{
	height: 100%;
	margin: 0px;
	background-color: #FDF5E6;
}

h2
{
	color:#9370DB;
	font-size: 30px;
}

p
{
    font-family: sans-serif;
    color: #0c0a0c;
}

.green_banniere 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #DFF0D8;
    height: 40px;
    width: 100%;
}

.container_page 
{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    background-color: #3CB371;
    margin-left: 25%;
    flex-direction: column;
}

.bouton_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bouton
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
