input[type=submit]
{
    background-color: #cca5a5; /* Green */
    border: none;
    text-align: center;
    font-weight: bold;
    color: blueviolet;
    font-family : Times New Roman;
    font-size: 16px;
}

.boutons
{
    display: flex;
    justify-content: space-between;
    background-color: #e873176e;
    margin-bottom: 50px;
    margin-top: 35px;
    width: -webkit-fill-available;
    height: 50px;
    align-items: center;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.boutonsNoConnexion
{
    display: flex;
    justify-content: center;
    background-color: #e873176e;
    margin-bottom: 50px;
    margin-top: 35px;
    width: -webkit-fill-available;
    height: 50px;
    align-items: center;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.thread_container
{
    background-color: #848484;
    padding: 35%;
    border: 1px solid #848484;
    border-radius: 5px;
}

.thread
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boutonTop
{
    background-color: #cca5a5;
    padding: 10px;
    border: solid 2px red;
    border-radius: 10px;
}

.b
{
    color: blueviolet;
    font-weight: bold;
    text-decoration: none;
}

.formAdmin
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
