.page_content
{
    background-color: mediumaquamarine;
    border-radius: 5px;
    border-style: solid;
    border-color: mediumaquamarine;
}


.input_login
{
    margin-bottom: 5px;
    margin-left: 17px;
}

.button_connexion
{
    margin-left: 35%;
    margin-top: 10px;
}

.text
{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: #9370DB;
    background-color: aquamarine;
    margin-bottom: 20px;
    border-radius: 5px;
}

.page_connexion
{
    padding: 25px;
}

