p
{
    font-weight: bold;
    font-family: system-ui;
    color:#8B0000;
}

.page_connexion
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_content
{
    height: 50%;
    width: 50%;
    background-color: #D3D3D3;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}